<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target 
		name="measures" 
		xsi:type="File"
		layout="${date:format=yyyy-MM-dd HH\:mm\:ss} |${level:uppercase=true}| ${message}"
		fileName="..\\..\\..\\Logs\\Measures_Server${gdc:item=serverInstance}.txt"/>
		<target 
		name="infoLogs" 
		xsi:type="File"
		layout="${date:format=yyyy-MM-dd HH\:mm\:ss} |${level:uppercase=true}| ${message}"
		fileName="..\\..\\..\\Logs\\InfoLogs_Server${gdc:item=serverInstance}.txt"/>
		<target 
		name="logconsole" 
		xsi:type="ColoredConsole"
		layout="${date:format=yyyy-MM-dd HH\:mm\:ss} |${level:uppercase=true}| ${message}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Blue" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
			</target>
	</targets>

	<rules>
		<logger rulename="times" name="*" minlevel="Trace" maxlevel= "Trace" writeTo="measures" />
		<logger rulename="info" name="*" minlevel="Info" writeTo="infoLogs" />
	</rules>
</nlog>